---
interface Props {
  className?: HTMLHtmlElement["className"];
}

const { className = "" } = Astro.props;
---

<h1
  class={`text-grey-200 uppercase font-normal font-secondary text-4xl lg:text-7xl lg:leading-5 xl:text-8xl xl:leading-5 ${className}`}
>
  <slot />
</h1>
