---
interface Props {
  className?: HTMLHtmlElement["className"];
}

const { className = "" } = Astro.props;
---

<section
  class={`p-5 pt-[9.6rem] max-w-[160rem] mx-auto h-full md:px-10 lg:px-[6rem] ${className}`}
>
  <slot />
</section>
