---
interface Props {
	className?: HTMLHtmlElement["className"];
}

const { className = "" } = Astro.props;
---

<h2
	class={`text-secondary uppercase font-normal font-secondary text-4xl ${className}`}
>
	<slot />
</h2>
