---
interface Props {
  class?: HTMLHtmlElement["className"];
}

const { class: className = "" } = Astro.props;
---

<section
  class={`p-5 pt-[9.6rem] min-h-[40rem] max-w-[140rem] mx-auto h-full md:px-10 lg:px-[6rem] lg:pt-[7.8rem] ${className}`}
>
  <slot />
</section>
