---
interface Props {
  class?: HTMLHtmlElement["className"];
  name?: string;
  id?: string;
}

const { class: className = "" } = Astro.props;
---

<p class={`text-base text-grey-200 font-medium ${className}`}>
  <slot />
</p>
