---
interface Props {
  class?: HTMLHtmlElement["className"];
}

const { class: className = "" } = Astro.props;
---

<h2 class={`text-grey-200 text-6xl font-secondary ${className}`}>
  <slot />
</h2>
