---
import Layout from "@layouts/Layout.astro";
import Section from "@styles/Section.astro";
import Text from "@styles/Text.astro";
import Button from "@styles/Button.astro";
---

<Layout title="Angličtina | Petr Walach">
  <Section>
    <div class="grid place-items-center h-full">
      <div class="flex flex-col gap-6">
        <Text><strong>Stránka, kterou hledáte neexistuje.</strong></Text>

        <Button><a href="/">Vrátit se na úvodní stránku</a></Button>
      </div>
    </div>
  </Section>
</Layout>
