---
import Title from "@styles/Title.astro";
import Layout from "@layouts/Layout.astro";
import Section from "@styles/Section.astro";
import Text from "@styles/Text.astro";
import TextBuilderParagraph from "@components/TextBuilderParagraph.svelte";
import type { AboutMe } from "../types/sanity";
import { sanityClient } from "sanity:client";
import { PortableText } from "@portabletext/svelte";

const aboutMe: AboutMe = await sanityClient.fetch(`*[_type == "about"][0]`);
---

<Layout title="Angličtina | Petr Walach">
  <main>
    <Section className="h-min pb-20">
      <Title>O mně</Title>
      <img src="" alt="" width="200" height="200" />

      <PortableText
        value={aboutMe?.description}
        components={{
          block: {
            normal: TextBuilderParagraph,
          },
        }}
      />
      {
        aboutMe?.experiences?.map((experience) => (
          <div>
            <Text className="text-secondary font-semibold">
              {experience?.from} - {experience?.to}
            </Text>
            <Text>{experience?.title}</Text>
          </div>
        ))
      }
    </Section>
  </main>
</Layout>
