---
import Title from "@styles/Title.astro";
import Layout from "@layouts/Layout.astro";
import Section from "@styles/Section.astro";
import Text from "@styles/Text.astro";
import Button from "@styles/Button.astro";
import Input from "@styles/Input.astro";
import Label from "@styles/Label.astro";
import TextArea from "@styles/TextArea.astro";

//tuhle sekci chce met editovatelnou v SANITY
---

<Layout title="Angličtina | Petr Walach">
	<main>
		<Section className="h-min pb-20">
			<div class="flex flex-col gap-[2.2rem]">
				<Title>Kontaktuj mě</Title>
				<div class="flex flex-col gap-[1rem]">
					<Text>Petr Walach</Text>
					<div class="flex gap-[.5rem]">
						<Text className="font-bold">Adresa:</Text>
						<Text>Kranichova 8, 710 00 Slezská Ostrava</Text>
					</div>
					<div class="flex gap-[.5rem]">
						<Text className="font-bold">E-mail:</Text>
						<Text>petr.walach@email.cz</Text>
					</div>
					<div class="flex gap-[.5rem]">
						<Text className="font-bold">Telefon:</Text>
						<Text>+420 608 252 880</Text>
					</div>
				</div>
				<form class="flex flex-col gap-[2rem]" action="">
					<div class="flex flex-col gap-[1rem]">
						<Label>Jméno</Label>
						<Input type="text" name="name" />
						<Label>Příjmení</Label>
						<Input type="text" name="surname" />
						<Label>E-mail</Label>
						<Input type="email" name="email" />
						<Label>Text</Label>
						<TextArea name="text" id="text" cols="30" rows="10" />
					</div>
					<Button type="submit">Odeslat dotaz</Button>
				</form>
			</div>
		</Section>
	</main>
</Layout>
