---
import Layout from "../layouts/Layout.astro";

import { Debug } from "astro:components";

import { sanityClient } from "sanity:client";

const posts = await sanityClient.fetch(`*[_type == "movie"]`);
---

<Layout title="Movie section">
	<main>
		<h1 class="text-blue-500">This is movie sedsadction</h1>
		{posts?.map((post: any) => <div class="text-red-300">{post.title}</div>)}
	</main>
</Layout>
