---
import PricingSelection from "@components/PricingSelection.svelte";
import Layout from "@layouts/Layout.astro";
import Button from "@styles/astro/Button.astro";
import Section from "@styles/astro/Section.astro";
import Text from "@styles/astro/Text.astro";
import Title from "@styles/astro/Title.astro";
import { getPricingOptions, getSingleDocument } from "@sanity/api";
import { getFileUrl } from "@sanity/utils";

const pricingOptions = await getPricingOptions();
const downloadableDocument = await getSingleDocument();
---

<Layout title="Angličtina | Petr Walach">
  <Section class="h-min max-w-[110rem] xl:h-full">
    <div class="flex flex-col h-full lg:justify-center xl:min-h-[85rem]">
      <Title>Ceník</Title>
      <Text>
        Zajišťuji také firemní a skupinové kurzy, telefonickou výuku,
        rychlokurzy angličtiny (například přípravu na pracovní pohovor),
        případně doprovody, tlumočení či překlady. Vše záleží na naší
        individuální domluvě. Zaujal jsem Vás? Budu rád, pokud mi napíšete či
        zavoláte.
      </Text>
      <br />
      <PricingSelection pricingOptions={pricingOptions} client:load />

      <Button class="flex mt-5 mx-auto">
        <a
          target="_blank"
          rel="noopener noreferrer"
          download="Podminky spoluprace"
          href={getFileUrl(downloadableDocument?.file)}
          >Podmínky spolupráce a platba</a
        >
      </Button>
    </div>
  </Section>
</Layout>
